.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  text-align: center;
  padding: 1rem; 
  line-height: 1.4;
  font-size: 1.4rem; 
}

.title {
  margin-bottom: 20px; 
  font-size: 2.5rem; 
  color: #0070f3; 
}

.list {
  display: flex;
  justify-content: space-around;
  gap: 20px; 
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0070f3; 
  padding: 1.5rem; 
  border-radius: 20px;
  background-color: #e5e5ff; 
  transition: background-color 0.3s;
}

.list-item:hover {
  background-color: #cfd8ff; 
}

.list-item p {
  margin-top: 5px; 
  font-size: 18px; 
}